body{
    background-color: beige;

}

body {
    font-family: 'Pacifico', cursive;
}

h1 {
    font-family: 'pacifico', cursive;
}

h2{
    font-family: 'pacifico', cursive;  
}

.logo-img {
    width: 50px;      
    height: 50px;        
    border-radius: 50%; 
    object-fit: cover;   
}




.homepage{
    background-color: beige;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.welcomepage{
    background-image: url("../images/projectimghome.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

 .login-card{
    background-color: rgb(224, 175, 139);
    backdrop-filter: blur(8px); 
    border-radius: 20px; 
    border: 1px solid rgb(194, 147, 113);
}

.register-card{

    background-color: rgb(224, 175, 139);
    backdrop-filter: blur(8px); 
    border-radius: 20px; 
    border: 1px solid rgb(194, 147, 113);
    
}

.card-body{
    background-color: rgb(240, 156, 97);
}

.card-body .btn{
    background-color: beige;
}

.card-footer .btn{
    background-color: beige;
}

.card-footer .btn:hover{
    background-color: rgb(243, 130, 50);
}


.btn{
    background-color: rgb(240, 156, 97);
}

.btn:hover {
    background-color: rgb(240, 156, 97);
}



 .home-card{
    margin-right: 0;
    margin: 0;
    padding: 0;
 }

 .product-card img {
    width: 100%;
    height: 200px;       
    object-fit: cover;  
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px; 
}

.my-custom-table {
    background-color: rgb(245, 176, 126); 
    border-radius: 8px;        
    overflow: hidden;          
}

.my-custom-table th {
    background-color:  rgb(240, 156, 97); 
    color: black;             
    text-align: center;
}

.my-custom-table td {
    background-color:  rgb(240, 156, 97); 
    padding: 10px;
}



