
body{
    background: linear-gradient(beige);
    background-image:  url('../images/groceryimg.jpg'), url('../images/projectimageee.jpg');
    background-size: auto 100%, cover;
    background-position: right, center;
    background-repeat: no-repeat, no-repeat;  
} 

.welcome-text{
    max-width: 600px;     
    margin-right: 300px;      
    text-align: left;
}

h2{
    font-family: 'Pacifico', cursive;
    color: black;
}

h1{
    font-family: 'Pacifico', cursive;
    color: rgb(16, 73, 16);
}

h3{
    font-family: 'Pacifico', cursive;
}

p{
    font-family: 'Pacifico', cursive;
    color: rgb(16, 73, 16);
}

    
.container-fluid{
    background-color:beige;
}
.navbar{
    background-color: rgb(240, 156, 97);
    padding-bottom: 30px;
    position: relative;
}
.sidebar{
    background-color: rgb(240, 156, 97);
    margin: 0;
    padding: 40px;
    top: 130px;
    font-size: 20px;
    font-weight:500;
}
.nav-link{
    color: rgb(16, 73, 16);
    font-family: 'Pacifico', cursive;
    font-weight: 500;
}

.profileicon{
    color: beige;
    size: 100px;
}

.card{
    background-color: rgb(240, 156, 97);
    padding: 10px;
    border-radius: 10px;

}
.welcome-card{
    background-color: rgb(223, 143, 86);
    /* background: rgba(192, 70, 0, 0.4); */    
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    border: chocolate;
    border-radius: 10px;
    margin-right: 300px;
}

.card-image{
    padding-left: 40px;

    width: 300px;
    height: 200px;    
}

.card-body{
    margin-top: 2px;

}

.btn{
    background-color: rgb(240, 156, 97) ;
}

.card .btn{
    background-color: beige;
    color: black;

}
/* .button{
    background-color: rgb(240, 156, 97);
} */
.btn:hover{
    background-color: rgb(231, 123, 46);
}


.card-img-top {
    height: 200px;         
    object-fit: cover;   
}
