{% extends "owner/header.html" %}

{% block content %}

<div class="container mt-2">

   
            <h2>Apply Offers And Discounts For All Products</h2>
    

            <table class="table table-bordered my-custom-table align-middle mt-5">
             <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Discount</th>
                    <th style="width: 250px;">Action</th>
                </tr>

            </thead>

            <tbody>

                {% for p in products %}
                <tr class="text-center align-middle">
                    <td>{{ p.name }}</td>
                    <td>{{ p.price }}</td>
                    <td>{{ p.discount_percent }}%</td>
                    <td>
                         <a href="{% url 'set_discount' p.id %}" class="btn btn-sm" style="background-color: beige;">Set discount</a>
                         <a href="{% url 'edit_price' p.id %}" class="btn btn-sm ms-4" style="background-color: beige;">Edit Price</a>
                    </td>
                   
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No products found</td>
                </tr>
                {% endfor %}

            </tbody>
            </table>    
          


</div>

{% endblock %}