<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/usersstyle.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>Owner Dashboard</title>
</head>
<body>


 <nav class="navbar px-3" style="background-color: rgb(240, 156, 97); min-height: 150px;">
  <div class="container-fluid d-flex align-items-center justify-content-between"> 


        <div class="d-flex align-items-center">
            <img src="{% static 'images/logoimage.png' %}" class="logo-img me-4" alt="sitelogo">
            <!-- <div style="font-size: 15px;">Easy <br> Shopping</div> -->
        </div>   

        <!-- Links -->
        <div class="d-flex align-items-center">
            <ul class="navbar-nav flex-row">
                <li class="nav-item mx-2"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item mx-2"><a class="nav-link" href="{% url 'viewproducts' %}">Products</a></li>
                <li class="nav-item mx-2"><a class="nav-link" href="{% url 'categories' %}">Categories</a></li>
                <li class="nav-item mx-2"><a class="nav-link" href="{% url 'discounts' %}">Discounts</a></li>
                <li class="nav-item mx-2"><a class="nav-link" href="{% url 'orders' %}">Orders</a></li>
            </ul>
        </div>

        <!-- Search -->
        <form method="get" action="{% url 'product_search' %}" class="flex-grow-1 mx-3">
            <div class="input-group">
                <input type="text" name="search" 
                       class="form-control me-2"
                       placeholder="Search for products"
                       value="{{ request.GET.search }}">
                <button type="submit" class="btn btn-outline-secondary bg-white">Search</button>
            </div>
        </form>


        <!-- Icons -->
        <div class="d-flex">
            <div class="text-center me-3">
                <a href="{% url 'viewprofile' %}"><i class="bi bi-person-square fs-3" style="color: beige;"></i></a>  
                <p class="mb-0 small">Profile</p>
            </div>
            
            <div class="text-center">
                <a href="{% url 'logoutpage' %}"><i class="bi bi-box-arrow-right fs-3" style="color: beige;"></i></a>  
                <p class="mb-0 small">Logout</p> 
            </div>
        </div>       

    </nav>    

    <!-- Content area -->
    <main class="container-fluid mt-4">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>
