{% extends "owner/header.html" %}

{% block content %}

<div class="container mt-4">
    <h2 class="mb-4">Welcome Admin 👋</h2>
    <h4>Here you can manage products, view orders, set discounts and apply filters</h4>

    <div class="row mt-4">
    <div class="col-md-3">
        <div class="card text-center shadow">
            <div class="card-body">
                <h3>{{ total_products }}</h3>
                <p>Products</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-center shadow">
            <div class="card-body">
                <h3>{{ total_orders }}</h3>
                <p>Orders</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-center shadow">
            <div class="card-body">
                <h3>{{ total_users }}</h3>
                <p>Users</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-center shadow">
            <div class="card-body">
                <h3>{{ pending_orders }}</h3>
                <p>Pending</p>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <h4 class="mb-3">What you can do here 🚀</h4>
        <ul class="card">
            <li class="list-group-item">✔️ Add, edit, and remove products from your store</li>
            <li class="list-group-item">✔️ Track and manage all customer orders</li>
            <li class="list-group-item">✔️ Apply discounts and promotional offers</li>
            <li class="list-group-item">✔️ View and manage registered users</li>
            <li class="list-group-item">✔️ Monitor pending orders and take quick actions</li>
        </ul>
    </div>



</div>

</div>
{% endblock %}
