{% extends "owner/header.html" %}

{% load static %}

{% block content %}



<div class="container text-center mt-5 ">
    <h4 class="mb-3">Are You Sure You Want To Logout?</h4>
    

    <img src="{% static 'images/logoutimg.png' %}" style="width: 150px;">

    <p class="mb-5">We hope to see you again soon 👋</p>

    <div class="mt-4">
    <a href="{% url 'logout' %}" class="btn mb-3" style="width: 350px;">Logout</a><br>
    <a href="{% url 'home' %}" class="btn" style="width: 350px;">Back to home</a>
    </div>
</div>



{% endblock %}