<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css">
    <!-- <link rel="stylesheet" href="{% static 'css/products.style.css' %}" type="text/css"> -->
    <link rel="stylesheet" href="{% static 'css/usersstyle.css' %}" type="text/css">
    <title>Document</title>
</head>
<body>


    <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}


                
        <div class="container-fluid welcomepage d-flex justify-content-center align-items-center" style="min-height: 100vh;">

            <div class="card register-card p-3 mt-4" style="max-width:450px; height:  auto">

                <div class=" text-center mb-1">
                    <h2>Register</h2>
                </div>    


                <div class="text-start">
                <label for="name">Name:</label>
                <input type="text" name="name" class="form-control" value="{{ name|default:''}}" required>
                </div>

            <div class="text-start">
                <label for="email">Email:</label>
                <input type="email" name="email" class="form-control" value="{{ email|default:''}}" required>
            
             {% if email_error %}
                <p class="text-danger mb-1">{{ email_error }}</p>
             {% endif %}
             </div>

            
            <div class="text-start">
                <label for="phone">Phone:</label>
                <input type="text" name="phone" class="form-control" required>

                {% if phone_error %}
                <p class="text-danger">{{ phone_error }}</p>
                {% endif %}
            </div> 


            <div class="text-start">
                <label for="password">Password:</label>
                <input type="password" name="password" class="form-control" required>
            </div>

            <div class="text-start">                 
                <label for="confirmpassword">Confirm Password:</label>
                <input type="password" name="confirmpassword" class="form-control" required>
                <div class="form-text">
                <p><b>Use 8 or more characters with a mix of letters, numbers, and symbols.</b></p>
                </div>
                {% if password_error %}
                <p class="text-danger"> {{ password_error }}</p>
                {% endif %}
            </div>


            <div class="text-center">
            <button type="submit" class="btn btn-danger w-50 rounded-pill login-btn text-dark mb-2"> Register</button><br>
            <b>Already have an account? </b><br>
            <a href="{% url 'login' %}" class="btn btn-danger w-50 rounded-pill text-dark">Login here</a>
            </div>

            </div>
        </div>



    </form>



</body>
</html>